<div class="container my-3 px-sm-0">
  <h1 class="mb-4 custom-orange text-center">🐶 グループ編集</h1>

  <%= form_with model: @group, local: true, html: { multipart: true } do |f| %>
    <% if @group.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- 画像アイコン表示（編集画面用） -->
    <div class="text-center mb-3">
      <%= image_tag @group.image.variant(resize_to_limit: [150, 150]).processed,class: "img-fluid rounded-circle mb-2 group-icon" %>
    </div>

    <div class="mb-3">
      <%= f.label :name, "グループ名", class:"form-label custom-orange fs-5 fw-bold" %>
      <%= f.text_field :name, class: "form-control comment-textarea", placeholder: "例）集まれ！ワンちゃん大好き飼い主さん！"  %>
    </div>

    <div class="mb-3">
      <%= f.label :description, "説明 / ルール", class:"form-label custom-orange fs-5 fw-bold" %>
      <%= f.text_area :description, class: "form-control comment-textarea", rows: 4, placeholder: "例）ネコよりもウサギよりもハムスターよりも、何よりワンちゃん好きな方。是非ともグループに参加くださいませ！一緒にワンちゃんのお話しましょー！"  %>
    </div>

    <div class="mb-3">
      <%= f.label :image, "画像", class: "form-label custom-orange fs-5 fw-bold" %>
      <%= f.file_field :image, class: "form-control comment-textarea" %>
    </div>

    <div class="text-center">
      <%= f.submit "更新する", class: "btn btn-lg bg-soft-orange mb-3" %>
    </div>
  <% end %>

</div>
