<div class="container my-5 px-sm-0">
  <h1 class="mb-4 custom-orange text-center">🐾 グループ一覧</h1>

  <%= link_to "グループを作成", new_group_path, class: "btn bg-soft-orange mb-3" %>

  <table class="table table-bordered">
    <thead class="table-light">
      <tr class="custom-orange">
        <th>グループ名</th>
        <th>作成者</th>
        <th>参加メンバー数</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td class="align-middle">
            <%= image_tag group.image.variant(resize_to_limit: [200, 200]).processed, class: "img-fluid rounded-circle group-icon mb-3" %>
            <%= link_to group.name, group_path(group) %>
          </td>
          <td class="align-middle"><%= group.owner.name %></td>
          <td class="align-middle"><%= group.group_members.approved.count %>人</td>
          <td class="align-middle">
            <% unless group.owner_id == current_user.id || group.group_members.exists?(user_id: current_user.id) %>
              <%= button_to "参加申請", join_request_group_path(group), method: :post, class: "btn bg-soft-orange btn-sm" %>
            <% else %>
              <span class="text-muted">申請済み / 参加中</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mt-3">
  <%= paginate @groups %>
</div>
