<div class="container my-5 px-sm-0">
  <h1 class="mb-4 custom-orange text-center">­Ъљб сЂ┐сѓЊсЂфсЂ«ТіЋуе┐</h1>

  <% if user_signed_in? %>
    <div class="d-flex align-items-center mb-3">
      <h4 class="custom-orange mb-3">тЈ»ТёЏсЂётєЎуюЪсѓњТњ«сЂБсЂЪсѓЅТіЋуе┐сЂЌсЂдсЂ┐сѓѕсЂє№╝Ђ№╝Ђ</h4>
      <%= link_to "Тќ░УдЈТіЋуе┐", new_post_path, class: "btn btn-lg bg-soft-orange mb-3" %>
    </div>
  <% else %>
    <p class="text-muted">
      Рђ╗ ТіЋуе┐сЂЎсѓІсЂФсЂ» <%= link_to "сЃГсѓ░сѓцсЃ│", new_user_session_path %> сЂЙсЂЪсЂ»
      <%= link_to "Тќ░УдЈуЎ╗жї▓", new_user_registration_path %> сЂїт┐ЁУдЂсЂДсЂЎсђѓ
    </p>
  <% end %>

  <% @posts.each do |post| %>
    <div class="card mb-3 custom-card">
      <div class="card-body">
        <h5><%= link_to post.title, post_path(post) %></h5>
        <hr class="custom-hr">
        <% post.images.each do |image| %>
          <%= link_to post_path(post) do %>
            <% image_tag image.variant(resize_to_limit: [200, 200]).processed, class: "img-fluid rounded my-2" %>
          <% end %>
        <% end %>
        <h6><%= truncate(post.body, length: 100) %></h6>
        <small class="text-muted">
          ТіЋуе┐УђЁ: <%= post.user.name %>сЂЋсѓЊ | <%= l(post.created_at, format: :short) %>
        </small>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-3">
  <%= paginate @posts %>
</div>