<div class="container my-5 px-sm-0">
  <h1 class="mb-4 custom-orange text-center">🐢 みんなの投稿</h1>

  <% if user_signed_in? %>
    <div class="d-flex align-items-center mb-3">
      <h4 class="custom-orange mb-3">可愛い写真を撮ったら投稿してみよう！！</h4>
      <%= link_to "新規投稿", new_post_path, class: "btn btn-lg bg-soft-orange mb-3" %>
    </div>
  <% else %>
    <p class="text-muted">
      ※ 投稿するには <%= link_to "ログイン", new_user_session_path %> または
      <%= link_to "新規登録", new_user_registration_path %> が必要です。
    </p>
  <% end %>

  <% @posts.each do |post| %>
    <div class="card mb-3 custom-card">
      <div class="card-body">
        <h5><%= link_to post.title, post_path(post) %></h5>
        <hr class="custom-hr">
        <% post.images.each do |image| %>
          <%= link_to post_path(post) do %>
            <% image_tag image.variant(resize_to_limit: [200, 200]).processed, class: "img-fluid rounded my-2" %>
          <% end %>
        <% end %>
        <br>
        <% post.tags.each do |tag| %>
          <span class="label"><%= tag.name %></span>
        <% end %>
        <h6><%= truncate(post.body, length: 100) %></h6>
        <span class="sentiment-score">本文の感情分析スコア <%= post.score %></span><br>
        <small class="text-muted">
          投稿者: <%= post.user.name %>さん | <%= l(post.created_at, format: :short) %>
        </small>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-3">
  <%= paginate @posts %>
</div>