<h2><%= @user.name %>さんの詳細</h2>

<p>メール: <%= @user.email %></p>
<p>ペットの種類/好きな動物: <%= @user.pet_name %></p>
<p>ペットの名前: <%= @user.pet_type %></p>
<p>自己紹介文: <%= @user.bio %></p>
<%= image_tag @user.profile_image.variant(resize_to_limit: [150, 150]).processed, class: "img-fluid rounded mb-2 profile-image" %>

<%= button_to "退会させる", admin_user_path(@user), method: :delete, data: { confirm: "本当に退会させますか？" }, class: "btn btn-danger" %>

<%= link_to "一覧に戻る", admin_users_path, class: "btn btn-secondary mt-2" %>
