<div class="container my-5">
  <h2 class="mb-4 text-center"><%= @user.name %> さんのプロフィール</h2>

  <div class="card p-4 mb-5">
    <table class="table table-bordered">
      <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>ペットの種類／好きな動物</th>
        <td><%= @user.pet_type %></td>
      </tr>
      <tr>
        <th>ペットの名前</th>
        <td><%= @user.pet_name %></td>
      </tr>
      <tr>
        <th>ペットの画像</th>
        <td><%= image_tag @user.profile_image, size: "200x200", class: "img-fluid rounded my-2" %></td>
      </tr>
      <tr>
        <th>自己紹介</th>
        <td><%= @user.bio %></td>
      </tr>
    </table>
  </div>

  <div>
    <h4 class="mb-3">投稿一覧</h4>
    <% if @posts.any? %>
      <div class="list-group">
        <% @posts.each do |post| %>
          <%= link_to post_path(post), class: "list-group-item list-group-item-action" do %>
            <strong><%= post.title %></strong><br>
            <small class="text-muted"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p>まだ投稿はありません。</p>
    <% end %>
  </div>
</div>
