<header class="custom-color d-flex justify-content-between align-items-center border-bottom px-4" style="border-color:black !important; height: 80px;">
  <!-- 左側：ロゴ -->
  <div class="d-flex align-items-center">
    <%= link_to root_path do %>
      <%= image_tag "logo.jpg", style: "height: 70px;" %>
    <% end %>
  </div>

  <!-- 中央：ゲスト名、検索機能 -->
  <% unless controller_path.start_with?('admin/') %>
    <div class="d-flex justify-content-center align-items-center flex-grow-1" style="height: 100%;">
      <span class="welcome-text">
        ようこそ、
        <% if admin_signed_in? %>
          管理者
        <% elsif user_signed_in? %>
          <%= current_user.name %>
        <% else %>
          ゲスト
        <% end %>
        さん!
      </span>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <%= form_with url: search_path, method: :get, local: true, class: "d-flex align-items-center" do |f| %>
      <%= f.select :range, [["ユーザー", "users"], ["投稿", "posts"]], {}, class: "form-select me-2" %>
      <%= f.select :match, [["完全一致", "exact"], ["前方一致", "forward"], ["後方一致", "backward"], ["部分一致", "partial"]], {}, class: "form-select me-2" %>
      <%= f.text_field :word, placeholder: "キーワード検索", class: "form-control me-2" %>
      <%= f.submit "検索", class: "btn btn-outline-primary" %>
    <% end %>
  <% end %>


  <!-- 右側：ナビ -->
  <nav class="d-flex align-items-center flex-nowrap">
    <% if admin_signed_in? %>
      <%= link_to "ユーザー一覧", admin_users_path, class: "btn btn-light mx-1" %>
      <%= link_to "投稿一覧", root_path, class: "btn btn-light mx-1" %>
      <%= link_to "グループ一覧", root_path, class: "btn btn-light mx-1" %>
      <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-light mx-1" %>
    <% elsif user_signed_in? %>
      <%= link_to "マイページ", mypage_user_path(current_user), class: "btn btn-light mx-1" %>
      <%= link_to "投稿一覧", posts_path, class: "btn btn-light mx-1" %>
      <%= link_to "グループ一覧", root_path, class: "btn btn-light mx-1" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-light mx-1" %>
    <% else %>
      <%= link_to "About", about_path, class: "btn btn-light mx-1" %>
      <%= link_to "投稿一覧", posts_path, class: "btn btn-light mx-1" %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-light mx-1" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-light mx-1" %>
    <% end %>
  </nav>
</header>
